<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.GoodsDetailColorMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.GoodsDetailColor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_detail_id" jdbcType="INTEGER" property="goodsDetailId" />
    <result column="color_id" jdbcType="INTEGER" property="colorId" />
    <result column="goods_price" jdbcType="DOUBLE" property="goodsPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_detail_id, color_id, goods_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods_detail_color
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods_detail_color
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.GoodsDetailColor">
    insert into t_goods_detail_color (id, goods_detail_id, color_id, 
      goods_price)
    values (#{id,jdbcType=INTEGER}, #{goodsDetailId,jdbcType=INTEGER}, #{colorId,jdbcType=INTEGER}, 
      #{goodsPrice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.GoodsDetailColor">
    insert into t_goods_detail_color
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsDetailId != null">
        goods_detail_id,
      </if>
      <if test="colorId != null">
        color_id,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsDetailId != null">
        #{goodsDetailId,jdbcType=INTEGER},
      </if>
      <if test="colorId != null">
        #{colorId,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.GoodsDetailColor">
    update t_goods_detail_color
    <set>
      <if test="goodsDetailId != null">
        goods_detail_id = #{goodsDetailId,jdbcType=INTEGER},
      </if>
      <if test="colorId != null">
        color_id = #{colorId,jdbcType=INTEGER},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.GoodsDetailColor">
    update t_goods_detail_color
    set goods_detail_id = #{goodsDetailId,jdbcType=INTEGER},
      color_id = #{colorId,jdbcType=INTEGER},
      goods_price = #{goodsPrice,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>