<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.dao.HomePriceMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.HomePrice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="service_price" property="servicePrice" jdbcType="VARCHAR" />
    <result column="price_type" property="priceType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, price, service_price, price_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_home_price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_home_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.HomePrice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_home_price (price, service_price, price_type
      )
    values (#{price,jdbcType=VARCHAR}, #{servicePrice,jdbcType=VARCHAR}, #{priceType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.HomePrice" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_home_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="price != null" >
        price,
      </if>
      <if test="servicePrice != null" >
        service_price,
      </if>
      <if test="priceType != null" >
        price_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="servicePrice != null" >
        #{servicePrice,jdbcType=VARCHAR},
      </if>
      <if test="priceType != null" >
        #{priceType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.HomePrice" >
    update t_home_price
    <set >
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="servicePrice != null" >
        service_price = #{servicePrice,jdbcType=VARCHAR},
      </if>
      <if test="priceType != null" >
        price_type = #{priceType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.HomePrice" >
    update t_home_price
    set price = #{price,jdbcType=VARCHAR},
      service_price = #{servicePrice,jdbcType=VARCHAR},
      price_type = #{priceType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>