<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Orders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oreder_status" jdbcType="INTEGER" property="orederStatus" />
    <result column="goodscar_id" jdbcType="INTEGER" property="goodscarId" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oreder_status, goodscar_id, address_id, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Orders">
    insert into t_orders (id, oreder_status, goodscar_id, 
      address_id, user_id)
    values (#{id,jdbcType=INTEGER}, #{orederStatus,jdbcType=INTEGER}, #{goodscarId,jdbcType=INTEGER}, 
      #{addressId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Orders">
    insert into t_orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orederStatus != null">
        oreder_status,
      </if>
      <if test="goodscarId != null">
        goodscar_id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orederStatus != null">
        #{orederStatus,jdbcType=INTEGER},
      </if>
      <if test="goodscarId != null">
        #{goodscarId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Orders">
    update t_orders
    <set>
      <if test="orederStatus != null">
        oreder_status = #{orederStatus,jdbcType=INTEGER},
      </if>
      <if test="goodscarId != null">
        goodscar_id = #{goodscarId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Orders">
    update t_orders
    set oreder_status = #{orederStatus,jdbcType=INTEGER},
      goodscar_id = #{goodscarId,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>